body {
  font-family: Monaco, MonacoRegular, "Courier New", monospace;
  color: #565656;
  background-color:#F0EBEB;
}
header {
  text-align: center;
}
.title {
  width: 80%;
  top: 130px;
  left: 130px;
  font-size: 50px;
  position: absolute;
}
.cloud {
  position: relative;
}
.fab {
  padding-left: 20px;
  color: red;
}

/* ここからメイン */
/* めいのパート */
.page {
  margin:20px;
  margin-top: 20px;
  font-size: 40px;
  color: #565656;
  background-color: pink;
}
.main {
  background-color: #FCD69E;
  width: 80%;
  height: 2500px;
  padding-top: 10px;
  margin: 0 auto;
}

.mei-wrapper img{
  float: left;
  margin-left: 50px;
  border: 10px solid #ffeaea;
  border-radius: 8px;
  margin-bottom: 20px;
}
.mei-text {
  float: left;
  margin-left: 50px;
}
.mei-text h2 {
  clear: left;
    padding: 20px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    font-weight: normal;
}

/* ここからママ */
.mama-wrapper {
  clear: left;
}
.mama-title {
  margin-left: 50px;
font-size: 30px;
}
.mama-a {
  float: left;
  margin-left: 50px;
}
.mama-b {
  float: left;
  margin-left: 50px;
}

.mama-a img {
  border: 10px solid #ffeaea;
  border-radius: 8px;
}

.mama-b img{
  border: 10px solid #ffeaea;
  border-radius: 8px;
}

/* ここからパパ */
.papa-wrapper {
  clear: left;
}
.papa-food {
  width: 100%;
  text-align: left;
  height: 40px;
}
.img {
  float: left;
  margin: 20px;
}

.papa-content{
  background-color: #32540a;
  height: 530px;
  width: 49%;
  border-radius: 8px;
  float: left;
  margin: 5px;
  color: #fff;
}
.papa-komento {
  float: left;
  margin: 20px;
}

.saikou {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    background: #e6f4ff;
    color: #5c98d4;
    font-weight: bold;
}
.saikou:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e6f4ff;
    width: 0;
    height: 0;
}
a {
  color: #fff;
}

